// Responsive breakpoints
$break-small: 450px;
$break-medium: 1250px;
$break-large: 1800px;
@mixin bp-large {
    @media only screen and (max-width: $break-large) {
        @content;
    }
}
@mixin bp-medium {
    @media only screen and (max-width: $break-medium) {
        @content;
    }
}
@mixin bp-small {
    @media only screen and (max-width: $break-small) {
        @content;
    }
}

// Transitions
$transition-overlay-duration: 200ms;
@mixin transition($args...) {
    -webkit-transition: $args;
    -moz-transition: $args;
    -ms-transition: $args;
    -o-transition: $args;
    transition: $args;
}

// Font Stacks
$font-stack-avenir: 'Avenir', 'Open Sans', sans-serif;
$font-stack-amiri: 'Amiri', serif;
$font-stack-pt-serif: 'PT Serif', serif;
$font-stack-pt-serif-caption: 'PT Serif Caption', serif;

// Site Structure
$app-width-desktop: 98vw;
$app-width-mobile: 100vw;

$header-height-desktop: 120px;
$header-height-mobile: 72px;
$header-background-ratio: 5/6;

$footer-height-desktop: 50px;
$footer-height-mobile: 50px;

$lefter-width-desktop: 120px;
$lefter-width-mobile: 100vw;

$righter-desktop-width: 360px;

$article-header-height: 240px;

$border-width-desktop: 3px;
$border-desktop: $border-width-desktop solid black;

$navigation-width: 240px;
$button-text-to-center-adjustment: 3px;

$flyout-font-size: 1.75em;

// Color
// TODO: make a global state of app color from which to assign color sensitive components
$color-default: rgb(250, 245, 245);
$color-card: rgb(247, 247, 233);

header {
    width: $app-width-desktop;
    height: $header-height-desktop;

    @include bp-small {
        width: $app-width-mobile;
        height: $header-height-mobile;
    }
}

logo {
    width: $header-height-desktop;
    height: $header-height-desktop;
    border: $border-width-desktop;
    @include bp-small {
        width: $header-height-mobile;
        height: $header-height-mobile;
        border: 5px;
    }
}